body {
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 20px;
    background-color: white;
}

h1 {
    color: black;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}


td {
    border: 1px solid lightgray;
    padding: 10px;
    text-align: left;
}

.cabecera {
    background-color:green;
    color: white;
    border: 1px solid lightgray;
    padding: 10px;
    text-align: center;

}

tr:nth-child(even) {
    background-color: gray;
    color: white;
}


.coloreado {
    background-color:black;
    color: white;
}
