*{
    margin: 0%;
}

body {
    margin: 0%;
    background-color: #F1F0FF;
}

h1 {
    border-bottom: solid 5px;
    background-color: #C3C3E5;
    text-align: center;
}

img {
  border: solid 2px;
  margin-right: 60px;
}

ul {
  list-style-type: none;
}

li {
  display: inline;

}

p {
  text-indent: 40px;
}

#header {
  
}

#content{
  
}

#text {
    margin: auto;
    width: 90%;
}

#text p {
  margin: 10px;
  border: dotted;
  box-shadow: 3px 3px 3px black;
  background-color: #C3C3E5;
  padding: 10px;
}

#text p:first-child {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-image: url(../images/fondoParrafo.png);
}

#text p:last-child {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#menu {
  margin: 15px;
  text-align: center;
}

#menu a{

}


#menu li{
  border-left: 5px red solid;
  margin: 2px;
}

#menu li a:hover{
  color: red;
}

#footer{
  background-color: #443266;
  color: white;
  border-top: 5px black solid;
  text-align: center;
}

#footer a{
  color: white;
}

#footer a:hover{

}
#image {
 text-align: right;
 margin-top: 10px;
}

@media all and (max-width: 500px) {
  img {
    border: red solid;
    width: 90%;
    text-align: center;
  }
}
