.card{
    border: solid;
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
}

.card > p{
    display: flex;
    font-size: 1.2em;
    margin-top: 40px;
    margin-bottom: 50px;
}
.header{
    display: flex;
    flex-direction: row;
    background-color: #c9c9c9;
}
.avatar{
    display: inline-flex;
    background-color: #3498DB;
    width: 110px;
    border-radius: 50%;
}
.user-info{
    display: inline-flex;
    flex-direction: column;
    padding-left: 20px;
}
.stats{
    display: flex;
    border-top: #c9c9c9 solid 1px;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}
.stat-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-size: 1.2em;
}
.actions{
    display: flex;
    height: 35px;
}
.btn-primary{
    flex-grow: 0.6;
    border: 0px;
    background-color: ;
    border-radius: 5px;
    margin-right: 20px;
    background-color: #3498DB;
}
.btn-secondary{
    border: 0px;
    border-radius: 5px;
    flex-grow: 0.4;
}